/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/	

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main_conteneur {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 2em;
}

.gallery img {
	width: 100%;
}
#contact, #log_in {
	width: 50%;
	margin: auto;
}
#contact, #log_in , #modal > * {
	text-align: center;

}
#contact h2 {
	margin-bottom: 20px;
}

#log_in h2 {
	padding-bottom: 40px;
}

#contact form, #log_in form , #modal form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #log_in input , #modal input , #modal select , #button_ajouter{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #log_in label , #modal label{
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] , #button_ajouter{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

input[type="submit"]:hover , #button_ajouter:hover {
	opacity: 0.9;
}

#button_ajouter {
	font-size: 1em;
	margin: auto;
}


footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.button_align {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;	
	gap: 1em;
	margin-bottom: 3em;	
}

.button_color {
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	font-family: "Syne";
	font-size: 1.2em;
	padding: 5px 15px;
	cursor:pointer;
}

.button_color:hover {
	background-color: #1D6154;
	color: white;
	border: none;
}

.lien_center {
	display: flex;
	justify-content: center;
}

li a {
	text-decoration: none;
	color: black;
}

.headband {
  	width: 100%;
  	height: 59px;
  	background-color: black;  	
  	display: none;
  	justify-content: center;
  	align-items: center;	
  	color: white;
  	gap: 1em; 
}

.headband button {
	border-radius: 60px;
	width: 180px;
	height: 40px;
	text-align: center;
	border: none;
}

.headband i {
	color: white;
	margin-right: 1em;
}

.align_modify  {
	display:flex;
	align-items: center;
	justify-content: center;
	margin-right: -8%;
	gap: 10px;
}

.align_modify .modify_icon {
	margin-bottom: 2em;
	display: none;
}

.modify_icon i{
	margin-right: 1em;
}

.align_modify a {
	text-decoration: none;
	color: black;	
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);	
	display: none;	
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	width: 630px;
	height: 731px;
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2)0px 2px 8px 0px;
	display: none;
	padding-top: 3%;
}

.modal_body {
	width: 75%;
	margin: auto;
}

.modal_close {
	position: absolute;
	top: 8px;
	right: 8px;
	border: none;
	cursor: pointer;
	background-color: white;
	font-size: 1.5em;
}

.button_back {
	position: absolute;
	top: 8px;
	left: 8px;
	border: none;
	cursor: pointer;
	background-color: white;
	font-size: 1.5em;
}

.modal_close:hover, .button_back:hover {
	opacity: 0.9;
}

.modal_open {
	display: block;
}

#img {
	display: none;
}

.modal_input {
	background-color: #E8F1F6;
	width: 100%;
	height: 169px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.modal_input img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
  }  

.modal_input i {
	font-size: 5em;
	color: #CBD6DC;
}

.modal_input span {
	color: #444444;
}

.modal input[type="submit"] {
	background-color: #A7A7A7;
	width: 237px;
	cursor: pointer;	
}

.modal_button {
	border: none;
	background-color: #CBD6DC;
	border-radius: 50px;
	width: 173px;
	height: 36px;
	color: #306685 ;
	font-size: 1em;
	cursor: pointer;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_button:hover ,.modal input[type="submit"]:hover {
	opacity: 0.9;
}

hr {
	width: 100%;
	color: #B3B3B3;
	margin-top: 30px;	
	margin-bottom: 30px;
}

.align_galerie_photos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.align_galerie_photos h2 {
	padding-top: 1em;
}

.align_galerie_photos .button_color {
	margin-top: 2em;
}

.a_red {
	text-decoration: none;
	color: red;
	padding-top: 20px;
}

.gallery_modal img {
	width: 100%;
}

.gallery_modal {
	width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 4rem;
}

.trash_can {	
	background-color: black;
	color: white;
	padding:5px;
	font-size: 10px;
}

.hidden_arrow {
	opacity: 0;
	opacity: 0.3s ease;
}

.span_icon {
	position:absolute;
	top: 2.5px;
	right: 2.5px;
	cursor: pointer;
}














